@model IEnumerable<Bingo.Models.BingoNumberListItem>

@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("New Number", "NewNumber")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Used)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Used)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>@Html.ActionLink("Rest", "Reset")</p>
